{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h2>CAY</h2>
        <blockquote>
            <p>
                AMAP Herbier IRD de Guyane
                <br>
                <a href="http://publish.plantnet-project.org/project/caypub" target="_blank">publish.plantnet-project.org/project/caypub</a>
            </p>
        </blockquote>
        <h2>EOL</h2>
        <blockquote>
            <p>
                Encyclopedia of Life
                <br>
                <a href="http://eol.org" target="_blank">eol.org</a>
            </p>
            <p>
                Encyclopedia of Life. Available from <a href="http://www.eol.org" target="_blank">http://www.eol.org</a>. Accessed dec. 2016.
            </p>
        </blockquote>
        <h2>GBIF</h2>
        <blockquote>
            <p>
                Global Biodiversity Information Facility
                <br>
                <a href="http://www.gbif.org" target="_blank">www.gbif.org</a>
            </p>
            <p>
                Global Biodiversity Information Facility. Available from <a href="http://www.gbif.org" target="_blank">http://www.gbif.org</a>. Accessed dec. 2016.
            </p>
        </blockquote>
        <h2>GRIN</h2>
        <blockquote>
            <p>
                Germplasm Resources Information Network
                <br>
                <a href="http://www.ars-grin.gov" target="_blank">www.ars-grin.gov</a>
            </p>
            <p>
                Germplasm Resources Information Network [Internet]. Beltsville (MD): United States Department of Agriculture, Agricultural Research Service. [dec. 2016]. Available from: <a href="http://www.ars-grin.gov/" target="_blank">http://www.ars-grin.gov/</a>.
            </p>
        </blockquote>
        <h2>IUCN</h2>
        <blockquote>
            <p>
                International Union for Conservation of Nature
                <br>
                <a href="https://www.iucn.org" target="_blank">www.iucn.org</a>
            </p>
            <p>
                IUCN Red List API
                <br>
                IUCN 2016. IUCN Red List of Threatened Species. Version 2016-1 <a href="http://www.iucnredlist.org/" target="_blank">&lt;www.iucnredlist.org&gt;</a>
            </p>
        </blockquote>
        <h2>Pl@ntNet</h2>
        <blockquote>
            <p>
                Pl@ntNet
                <br>
                <a href="http://identify.plantnet-project.org" target="_blank">identify.plantnet-project.org</a>
            </p>
        </blockquote>
        <h2>Tela Botanica</h2>
        <blockquote>
            <p>
                Tela Botanica
                <br>
                <a href="http://www.tela-botanica.org" target="_blank">www.tela-botanica.org</a>
            </p>
        </blockquote>
        <h2>The Plant List</h2>
        <blockquote class="mb-4">
            <p>
                The Plant List
                <br>
                <a href="http://www.theplantlist.org" target="_blank">www.theplantlist.org</a>
            </p>
            <p>
                <i>The Plant List</i> (2013). Version 1.1. Published on the Internet; <a href="http://www.theplantlist.org/" target="_blank">http://www.theplantlist.org/</a> (accessed dec. 2016).
            </p>
        </blockquote>
    </div>

{% endblock %}
