{% extends 'base.html.twig' %}

{% block title %}Crédits{% endblock %}

{% block body %}
<div class="container">
    <h2>Contact</h2>
    <blockquote style="border-color:#A2135F;">
        <p>
            <a href="mailto:contact-smartflore@tela-botanica.org">contact-smartflore@tela-botanica.org</a>
        </p>
    </blockquote>
    <h2>Crédits</h2>
    <blockquote>
        <a href="https://www.ofb.gouv.fr/" target="_blank" class="thumbnail">
            <img src="{{ asset('images/logo_OFB.jpg') }}" alt="Office Français de la Biodiversité" width="743px" height="746px">
        </a>
        <a href="http://www.tela-botanica.org" target="_blank" class="thumbnail">
            <img src="{{ asset('images/tela-botanica.jpg') }}" alt="tela botanica" width="500px" height="204px">
        </a>
        <a href="https://www.tela-botanica.org/projets/smart-flore/" target="_blank" class="thumbnail">
            <img src="{{ asset('images/smartflore_logo.png') }}" alt="smart'flore" width="413px" height="96px">
        </a>
    </blockquote>
</div>
{% endblock %}

