{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block body %}
    <div class="container">
        <h2>Conditions générales et termes d’utilisation de l’application Smart'Flore</h2>
        <p class="text-justify">
            Les présentes Conditions générales régissent les conditions dans lesquelles vous pouvez accéder et utiliser les différents services disponibles. Les utilisateurs des services offerts par Smart'Flore doivent accepter ces présentes conditions générales.
        </p>
        <blockquote>
            <p>
                <strong>Utilisation de l’application Smart'Flore :</strong>
            </p>
            <p class="text-justify">
                Votre compte personnel et vos informations de connexion fournies par Smart'Flore sont placés sous votre responsabilité exclusive. Vous ne devez pas partager votre mot de passe ni permettre à quiconque d'accéder à votre compte, ou faire autre chose qui pourrait compromettre la sécurité de votre compte.
                <br>
                Vous êtes seul responsable de l'utilisation faite de vos informations de connexion. Vous êtes seul responsable de l'usage, la perte, le détournement de vos informations de connexion et de leurs conséquences.
                <br><br>
                Toutes les remarques et les images présentées sur cette demande doivent être en conformité avec les lois et réglementations françaises en vigueur.
                <br>
                Vous vous engagez expressément à ne pas utiliser de mots à caractère raciste, pornographique ou diffamatoire sur l'application.
                <br><br>
                Il est rappelé que vous êtes entièrement responsable du contenu que vous diffusez et que l’équipe ayant contribué au développement de Smart'Flore ne sera pas considérée comme responsable du contenu que vous avez publié.
            </p>
        </blockquote>
        <blockquote>
            <p>
                <strong>Limitation de responsabilité :</strong>
            </p>
            <p class="text-justify">
                Vous reconnaissez avoir été informé et acceptez le fait qu'en aucune circonstance quelle qu'elle soit, Smart'Flore ne peut être tenu responsable de la création, de la modification, ou de la suppression de vos données personnelles, qui sont sous votre entière responsabilité. Vous utilisez Smart'Flore à vos propres risques. En aucune circonstance quelle qu'elle soit, Smart'Flore peut être tenue responsable des dommages directs ou indirects, au préjudice matériel, perte de données ou préjudice financier liés à l'accès ou l'utilisation de cette application. Les contenus affichés dans l’application Smart'Flore sont sans aucune garantie. Vous êtes entièrement responsable de tout dommage causé à votre smartphone ou de toute perte de données qui pourraient survenir en raison de l'utilisation de l'application.
                <br><br>
                En aucun cas, Smart'Flore ne peut être tenue responsable de l'exactitude des résultats obtenus par l'utilisation du logiciel. Smart'Flore ne peut en aucun cas être tenue responsable des dommages directs ou indirects qui pourraient être subis en raison de l'utilisation de l'application.
            </p>
        </blockquote>
        <blockquote>
            <p>
                <strong>Droits de propriété intellectuelle :</strong>
            </p>
            <p class="text-justify">
                Aucun élément de l’application Smart'Flore ne doit être copié, reproduit, modifié, réédité, téléchargé, déformé, transmis ou distribué, que cela soit partiellement ou intégralement, sans l'autorisation écrite et préalable de l’équipe Smart'Flore, sauf pour les stricts besoins de la presse et à condition que les droits de propriété intellectuelle et autres droits de propriété mentionnés soient respectés.
                <br><br>
                Le contenu et les informations que vous publiez sur Smart'Flore vous appartiennent. Vous garantissez que le contenu et les informations que vous publiez dans Smart'Flore ne transgressent pas les droits d’un tiers, sans se limiter aux droits de propriété intellectuelle ou droits de la vie privée.
                <br><br>
                Dans le même temps, vous acceptez de concéder à Smart'Flore vos données, telles que décrites ci-dessus, en licence Creative Common Paternité-ShareAlike-2.0.
                <br><br>
                En utilisant l’application Smart'Flore, vous acceptez de transférer le contenu et l'information relative à vos requêtes (photographies ainsi que le nom d'utilisateur associé, la date et le lieu de prise de vue) à l'équipe Smart'Flore, puis accepter de les rendre accessibles à tous les utilisateurs de Smart'Flore le cadre d’une license Creative Common Paternité-ShareAlike-2.0.
                <br><br>
                En vertu de cette licence Creative Commons toute personne sera libre de reproduire, modifier, distribuer et communiquer vos données, comme décrit ci-dessus, pour le public dans les conditions suivantes :
                <br>
                <ul>
                    <li>Mentionner le nom de l'auteur original de l'œuvre et celle de Smart'Flore qui l'édite,</li>
                    <li>S'il y a un changement, une transformation ou une adaptation, vous ne donnez le droit de distribuer la création qui en résulte que sous un contrat identique à celui-ci.</li>
                </ul>
            </p>
        </blockquote>
        <blockquote>
            <p>
                <strong>Données personnelles :</strong>
            </p>
            <p class="text-justify">
                En vous inscrivant à l'application Smart'Flore, vous acceptez que votre identité, indiquée sous votre nom, prénom et e-mail que vous avez spécifié lors de l'enregistrement, soit publiée en association avec le contenu et les informations que vous publiez par l'application Smart'Flore. Par conséquent, vous acceptez que les autres utilisateurs de Smart'Flore puissent vous envoyer (via votre adresse e-mail) des commentaires, questions ou suggestions concernant le contenu et les informations que vous publiez par l'application Smart'Flore.
            </p>
        </blockquote>
    </div>
{% endblock %}

